/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.footer-logo__link, .nav__logo {
  color: #99baed;
}

.gallery__button, .our-history__button, .hero__buttom, .authentification__buttom {
  color: #ffffff;
  background-color: #99baed;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  min-width: 188px;
  padding: 23px 33px;
  text-align: center;
  border-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.gallery__button:hover, .our-history__button:hover, .hero__buttom:hover, .authentification__buttom:hover, .gallery__button:focus, .our-history__button:focus, .hero__buttom:focus, .authentification__buttom:focus {
  color: #99baed;
  background-color: #ffffff;
  border-color: #99baed;
}

.gallery__title, .services__title, .our-history__title, .hero__title {
  color: #163561;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.5;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #153461;
  background-color: #ffffff;
  font-family: Catamaran, sans-serif;
}

.container {
  width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
}

.nav__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 75px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.32;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.nav__logo:hover, .nav__logo:focus {
  color: #008fdd;
}
.nav__logo:hover .logo__icon, .nav__logo:focus .logo__icon {
  -webkit-transform: rotate(390deg);
          transform: rotate(390deg);
}

.logo__icon {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  position: absolute;
  top: -40px;
  left: -60px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  fill: currentColor;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 110px;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  padding-top: 67px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  color: #163561;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.32;
}
.nav__link:hover, .nav__link:focus {
  color: #ffffff;
  background-color: #a3c1ef;
}

.authentification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.authentification__item:not(:last-child) {
  margin-right: 48px;
}

.btn {
  width: 42px;
  height: 42px;
  border: none;
  background-color: #ffffff;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 400px;
  min-height: 400px;
  background-color: #ffffff;
}

.btn__modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.modal__text {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 226px;
  overflow: hidden;
}

.hero__item {
  width: 576px;
}

.hero__title {
  font-weight: 700;
  font-size: 75px;
  line-height: 1.33;
  margin-bottom: 29px;
}
.hero__title--secondary {
  color: #fbb400;
}

.hero__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.52;
  opacity: 0.65;
  margin-bottom: 97px;
}

.our-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 136px;
}

.our-history__list {
  margin-left: 149px;
}

.our-history__item {
  width: 526px;
}

.our-history__title {
  margin-bottom: 80px;
}
.our-history__title--secondary {
  color: #fbb400;
}

.our-history__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  opacity: 0.65;
  margin-bottom: 48px;
}
.our-history__text:last-child {
  margin-bottom: 108px;
}

.services {
  padding-bottom: 272px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -49px;
}

.services__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc(33.3333333333% - 49px);
      flex-basis: calc(33.3333333333% - 49px);
  margin-left: 49px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 72px;
  padding-left: 41px;
  padding-right: 41px;
  width: 441px;
  height: 533px;
  background-color: #fafbff;
  -webkit-box-shadow: 0px 5px 0px #99baed;
          box-shadow: 0px 5px 0px #99baed;
  border-radius: 29px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.services__link:hover, .services__link:focus {
  background-color: #99baed;
}
.services__link:hover .services__subtitle,
.services__link:hover .services__text, .services__link:focus .services__subtitle,
.services__link:focus .services__text {
  color: #ffffff;
}

.icon__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 103px;
  height: 126px;
  border-radius: 13px;
  margin-bottom: 59px;
  color: #008fdd;
  background-color: #e5ecfe;
  -webkit-box-shadow: 0px 5px 0px #99baed;
          box-shadow: 0px 5px 0px #99baed;
}

.services__icon {
  fill: currentColor;
}

.services__title {
  margin-bottom: 83px;
  text-align: center;
}
.services__title--secondary {
  color: #fbb400;
}

.services__subtitle {
  margin-bottom: 60px;
  color: #163561;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.15;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.services__text {
  color: #153461;
  opacity: 0.65;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.gallery {
  padding-bottom: 171px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -37px;
  margin-left: -37px;
  margin-bottom: 77px;
}

.gallery__item {
  position: relative;
  margin-top: 37px;
  margin-left: 37px;
}

.gallery__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(82, 150, 255, 0.35);
}

.gallery__title {
  margin-bottom: 110px;
  text-align: center;
}
.gallery__title--secondary {
  color: #fbb400;
}

.gallery__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
}

.footer-logo__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.33;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.footer-logo__link:hover, .footer-logo__link:focus {
  color: #008fdd;
}
.footer-logo__link:hover .footer-logo__icon, .footer-logo__link:focus .footer-logo__icon {
  -webkit-transform: rotate(400deg);
          transform: rotate(400deg);
}

.footer-logo__icon {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  position: absolute;
  top: -50px;
  left: -75px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  fill: currentColor;
}

.footer__text {
  width: 576px;
  text-align: center;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  opacity: 0.65;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 47px;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  background-color: #99baed;
  color: #ffffff;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.social__link:hover, .social__link:focus {
  background-color: #008fdd;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.social__icon {
  fill: currentColor;
}

.footer__border {
  width: 1362px;
  border: 1px solid #99baed;
}/*# sourceMappingURL=main.css.map */