.gallery {
  margin-bottom: 171px;
}

.gallery__list {
  // display: flex;
  // flex-wrap: wrap;

  // margin-top: -37px;
  // margin-left: -37px;

  padding-bottom: 77px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px;
}

.gallery__item {
  // flex-basis: calc(100% / 3 - 37px);
  // margin-top: 37px;
  // margin-left: 37px;
}

.gallery__title {
  @extend %title;
  &--secondary {
    color: map-get($colors, 'titleSecondary');
  }

  margin-bottom: 110px;
  text-align: center;
}

.gallery__button {
  @extend %button;
  display: block;
  @include pushAuto;
}
