.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 226px;
  overflow: hidden;
}
.hero__item {
  width: 576px;
}
.hero__title {
  @extend %title;

  &--secondary {
    color: map-get($colors, 'titleSecondary');
  }
  @include fonts(700, 75, 1.33);
  margin-bottom: 29px;
}

.hero__text {
  @include fonts(400, 25, 1.52);
  opacity: 0.65;
  margin-bottom: 97px;
}
.hero__buttom {
  @extend %button;
}
