.services__title {
  @extend %title;
  &--secondary {
    color: map-get($colors, 'titleSecondary');
  }

  text-align: center;
}

.services__subtitle {
  color: map-get($colors, 'titlePrimary');

  @include fonts(700, 45, 1.15);
}

.services__text {
  color: map-get($colors, 'active');

  @include fonts(400, 25, 1.5);
}
