.services {
  margin-bottom: 272px;
}

.services__list {
  display: flex;
  justify-content: center;
}
.services__item {
  &:not(:last-child) {
    margin-right: 49px;
  }

  padding-top: 50px;
  padding-bottom: 72px;
  padding-left: 41px;
  padding-right: 41px;

  width: 441px;
  height: 533px;
  text-align: center;
  background-color: map-get($colors, 'cardBkg');
  box-shadow: map-get($colors, 'cardShadow');
  border-radius: 29px;

  &:hover,
  &:focus {
    background-color: map-get($colors, 'button');

    .services__subtitle,
    .services__text {
      color: map-get($colors, 'white');
    }
  }
}

.services__img {
  margin-bottom: 59px;
}
.services__title {
  @extend %title;
  &--secondary {
    color: map-get($colors, 'titleSecondary');
  }
  margin-bottom: 83px;
  text-align: center;
}

.services__subtitle {
  margin-bottom: 60px;

  color: map-get($colors, 'titlePrimary');

  @include fonts(700, 45, 1.15);
}

.services__text {
  color: map-get($colors, 'active');
  opacity: 0.65;

  @include fonts(400, 25, 1.5);
}
