.services__title{
    @extend %title;
    &--secondary {
            color: map-get($colors,'titleSecondary');
        }
}

.services__item{
    background-color: map-get($colors, 'cardBkg');
}

.services__item:hover{
    background-color: map-get($colors, 'button');

    .services__subtitle,
    .services__text {
            color: map-get($colors, 'white');
        }
}

.services__subtitle{
    color: map-get($colors, 'titlePrimary');
}

.services__text{
    color: map-get($colors, 'active');
}


