.is-hidden {
  @extend %is-hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: map-get($colors, 'modal');

  &.is-hidden {
    transition: 500ms ease;

    & .modal {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms ease;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 400px;
  min-height: 400px;

  background-color: map-get($colors, 'white');
}

.btn__modal {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;
  border: 2px solid map-get($colors, 'active');
  border-radius: 100%;
  color: map-get($colors, 'active');

  transition: 500ms ease;

  &:hover,
  &:focus {
    color: map-get($colors, 'serviceIcon');
    border-color: map-get($colors, 'serviceIcon');
  }
}

.modal-menu__icon {
  fill: currentColor;
}
.modal__text {
  @include fonts(700, 26, 1.2);
  text-transform: uppercase;
}
