.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.footer-logo__link {
  position: relative;

  display: flex;
  margin-bottom: 37px;
  @include fonts(600, 60, 1.33);
  @extend %logo;

  transition: 500ms ease;

  &:hover,
  &:focus {
    color: map-get($colors, 'serviceIcon');

    .footer-logo__icon {
      transform: rotate(400deg);
    }
  }
}

.footer-logo__icon {
  transition: 500ms ease;

  position: absolute;
  top: -50px;
  left: -75px;

  transform: rotate(40deg);
  fill: currentColor;
}

.footer__text {
  width: 576px;
  text-align: center;
  margin-bottom: 47px;
  @include fonts(400, 25, 1.5);
  opacity: 0.65;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}
.social__link {
  @extend %socialLink;

  background-color: map-get($colors, 'button');
  color: map-get($colors, 'white');

  transition: 500ms ease;

  &:hover,
  &:focus {
    background-color: map-get($colors, 'serviceIcon');
    transform: scale(1.5);
  }
}

.social__icon {
  fill: currentColor;
}
.footer__border {
  width: 1362px;
  border: 1px solid map-get($colors, 'button');
}
