.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 37px;
  @include fonts(600, 60, 1.33);
  @extend %logo;
}

.footer__text {
  width: 576px;
  text-align: center;
  margin-bottom: 47px;
  @include fonts(400, 25, 1.5);
  opacity: 0.65;
}

.social__list {
  display: flex;
  margin-bottom: 47px;
}

.footer__border {
  width: 1362px;
  border: 1px solid map-get($colors, 'button');
}
