.footer-container {
}

.footer__logo {
  display: inline-block;
  margin-bottom: 37px;
  @include fonts(600, 60, 1.33);
  @extend %logo;
}

.footer__text {
  margin-bottom: 47px;
  @include fonts(400, 25, 1.5);
  opacity: 0.65;
}
