.authentification {
  display: flex;
  align-items: center;
  //margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 48px;
  }
}

.authentification__buttom {
  @extend %button;
}

.btn {
  width: 42px;
  height: 42px;
  border: none;

  background-color: map-get($colors, 'white');

  transition: 500ms ease;

  cursor: pointer;

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.1);
  }
}
