.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 110px;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.nav__link {
  padding-top: 67px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;

  color: map-get($colors, 'titlePrimary');

  transition: 500ms ease;

  &:hover,
  &:focus {
    color: map-get($colors, 'white');
    background-color: map-get($colors, 'hover');
  }

  @include fonts(500, 25, 1.32);
}
