@mixin fonts($fontWeight, $fontSize, $lineHeight) {
  font-weight: $fontWeight;
  font-size: $fontSize * 1px;
  line-height: $lineHeight;
}

@mixin pushAuto {
  margin: {
    left: auto;
    right: auto;
  }
}
