// outline
%out {
  outline: 1px solid blue;
}

// logo
%logo {
  color: map-get($colors, 'button');
}

// button
%button {
  color: map-get($colors, 'white');
  background-color: map-get($colors, 'button');

  @include fonts(700, 20, 1.5);
  min-width: 188px;
  padding: 23px 33px;
  text-align: center;

  border-color: transparent;
  border-radius: $borderRadius;

  cursor: pointer;

  transition: 500ms ease;

  &:hover,
  &:focus {
    color: map-get($colors, 'button');
    background-color: map-get($colors, 'white');
    border-color: map-get($colors, 'button');
  }
}
// title
%title {
  color: map-get($colors, 'titlePrimary');

  @include fonts(700, 70, 1.5);
}

// social link
%socialLink {
  display: flex;
  justify-content: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
}

// is hidden
%is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
