// logo
%logo {
  color: map-get($colors, 'button');
}

// button
%button {
  color: map-get($colors, 'white');
  background-color: map-get($colors, 'serviceIcon');

  @include fonts(700, 20, 1.5);

  border-color: transparent;
  border-radius: $borderRadius;
}

// title
%title {
  color: map-get($colors, 'titlePrimary');

  @include fonts(700, 70, 1.5);
}
